In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor

In [31]:
train = pd.read_csv('../Dataset/train.csv')
train["first_day_of_month"] = pd.to_datetime(train["first_day_of_month"])
train = train.sort_values(['cfips','first_day_of_month']).reset_index(drop=True)
print(train.shape)
train.head()

(122265, 7)

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [32]:
test = pd.read_csv('../Dataset/test.csv')
test["first_day_of_month"] = pd.to_datetime(test["first_day_of_month"])
test = test.sort_values(['cfips','first_day_of_month']).reset_index(drop=True)
print(test.shape)
test.head()

(25080, 3)

            row_id  cfips first_day_of_month
0  1001_2022-11-01   1001         2022-11-01
1  1001_2022-12-01   1001         2022-12-01
2  1001_2023-01-01   1001         2023-01-01
3  1001_2023-02-01   1001         2023-02-01
4  1001_2023-03-01   1001         2023-03-01

In [33]:
train.columns

Index(['row_id', 'cfips', 'county', 'state', 'first_day_of_month',
       'microbusiness_density', 'active'],
      dtype='object')

In [34]:
test.isnull().sum()

row_id                0
cfips                 0
first_day_of_month    0
dtype: int64

In [35]:
VALIDATE = True
VAL_MONTH = 1

# DEFINE VALIDATION AND TRAIN MONTHS
trn_months = train.first_day_of_month.values[-39:-1*VAL_MONTH]
val_months = train.first_day_of_month.values[-1*VAL_MONTH:]
if VAL_MONTH!=1: 
    val_months = train.first_day_of_month.values[-1*VAL_MONTH:-1*VAL_MONTH+1]

In [36]:
IDS = train.cfips.unique()
x_train = np.arange(39).reshape((-1,1))
x_test = np.arange(38,47).reshape((-1,1))

preds = np.zeros((len(IDS),8))
last_preds = np.zeros((len(IDS),8))
lin_trend = 0

ct = 0
for i,c in enumerate(IDS):
    df = train.loc[train.cfips==c]
    last = df.microbusiness_density.values[-1]
    active = df.active.values[-1]
    last_preds[i,] = [last]*8
    model = GradientBoostingRegressor()
    model.fit(x_train,df.microbusiness_density)
    p = model.predict(x_train)
    p2 = model.predict(x_test)
    shift =  last - p2[0]
    preds[i,] = p2[1:]+shift

In [37]:
test['microbusiness_density'] = preds.reshape((-1))
sub = test[['row_id','microbusiness_density']]
sub.to_csv('../Submission/submission_gradboost.csv',index=False)
print(sub.shape)
sub.head()

(25080, 2)

            row_id  microbusiness_density
0  1001_2022-11-01               3.463856
1  1001_2022-12-01               3.463856
2  1001_2023-01-01               3.463856
3  1001_2023-02-01               3.463856
4  1001_2023-03-01               3.463856